<div class="card" style="background-color:aqua; border-color:darkblue;">
  <img class="card-img-top" [src]="product.imageUrl" style="width: 100px;height: 100px;" alt="">
  <div class="card-body">
    <h4 class="card-title">{{product.productName | uppercase}}</h4>
    <div class="card-text">
      
      <div class="row">
        <div class="col-md-6">
          Product Code
        </div>
        <div class="col-md-6">
          {{product.productCode | lowercase}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          Release Date
        </div>
        <div class="col-md-6">
          {{product.releaseDate}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          Description
        </div>
        <div class="col-md-6">
          <!-- {{product.description?.descText | shorten }} -->
          {{product.description?.descText | replaceChar : 'a':'@'}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          Price
        </div>
        <div class="col-md-6">
          {{product.price | currency :'EUR':true:'1.1'}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          Rating
        </div>
        <div class="col-md-6">
          {{product.starRating}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          Email Id
        </div>
        <div class="col-md-6">
          {{product.description?.emailId}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-primary" (click)="SendDataToParent()" >Send to Parent</button>
        </div>
      </div>
    </div>
  </div>
</div>