<div class="container">
  <h2>Products List</h2>
  <ng-content>
    
  </ng-content>
  <h3>{{today | date : 'dd/MM/yyyy'}}</h3>
  <div class="row" style="margin-bottom: 20px;">
    <div class="col-md-2">
      Search Product
    </div>
    <div class="col-md-2">
      <input type="text"
          class="form-control" #filter [(ngModel)]="filterText" placeholder="Search Product">
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-primary" (click)="TestImpurity()">Test Impurity</button>
    </div>
    
  </div>
  <div *ngIf="Message.length>0" class="alert alert-success" role="alert">
    <strong>{{Message}}</strong>
  </div>
  <div class="row">
    <div *ngFor="let prod of productList | filter:'productName':filterText" class="col-md-4">
      <app-product-thumbnail [pd]="prod" (ed)="ReceiveDataFromChild($event)"></app-product-thumbnail>
      <!-- <div>
        {{prod | json}}
      </div> -->
    </div>
  </div>
</div>